
.icon-pen:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
